.header{
    padding-top: 32px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .logo{
    width: 100px;
    height: 100px;
    margin-left: 16px;
    margin-right: 16px;
}
.header h1{
    font-size: 68px;
}
.timer{
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 6px;
    font-size: 6rem;
}
.center-div{
    display: flex;
    justify-content: center;
}
.body .container{
    width: 48rem;
    background-color: #fff;
    color: #dc143c;
    margin: 16px;
    border-radius: 8px;
    padding: 16px;
    text-align: center;

}
.row{
    display: flex;
}
input{
    border: none;
    margin-left: 16px;
    font-size: x-large;
    color: #dc143c;
    width: 60px;
    text-align: center;
}
input:focus{
    
    outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 4px #719ECE;
    border-radius: 0.4rem;
}
button{
    margin: 8px;
    border-radius: 4px;
    padding: 16px;
    font-size: large;
    border:none;
}
.bred{
    background-color: #dc143c;
    color: #fff;
}
.inforPomodoro{
    margin: 16px;
    color: black;
}